Question 1

In [2]:
import numpy as np
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print('Sorted list: ',ages)
minimum = np.min(ages)
maximum = np.max(ages)
print('Min and Max age:',minimum,' and ',maximum)
ages.extend([minimum,maximum])
print('New list: ',ages)
median = np.median(ages)
print('Median: ',median)
mean = np.mean(ages)
print('Mean: ', mean)
range = maximum - minimum
print('Range: ', range)

Sorted list:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min and Max age: 19  and  26
New list:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median:  24.0
Mean:  22.75
Range:  7

Question 2

In [3]:
dog = {}
dog['name'] = 'Husky'
dog['color'] = 'White'
dog['breed'] = 'German Shepherd'
dog['legs'] = 4
dog['age'] = 7
print('Dog: ',dog)
student = {}
student['first_name'] = 'Vennela'
student['last_name'] = 'Madamshetty'
student['gender'] = 'Female'
student['age'] = 23
student['marital_status'] = 'Single'
student['skills'] = ['Python', 'Java']
student['country'] = 'India'
student['city'] = 'Hyderabad'
student['address'] = 'Kisan Nagar'
print('Student: ',student)
print('Length of student dict: ',len(student))
print('Skills and datatype: ',student['skills'],type(student['skills']))
student['skills'].extend(['Spark', 'Hive'])
print('Keys: ', list(student.keys()))
print('Values: ',list(student.values()))

Dog:  {'name': 'Husky', 'color': 'White', 'breed': 'German Shepherd', 'legs': 4, 'age': 7}
Student:  {'first_name': 'Vennela', 'last_name': 'Madamshetty', 'gender': 'Female', 'age': 23, 'marital_status': 'Single', 'skills': ['Python', 'Java'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Kisan Nagar'}
Length of student dict:  9
Skills and datatype:  ['Python', 'Java'] <class 'list'>
Keys:  ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values:  ['Vennela', 'Madamshetty', 'Female', 23, 'Single', ['Python', 'Java', 'Spark', 'Hive'], 'India', 'Hyderabad', 'Kisan Nagar']

Question 3

In [4]:
sisters = ('Divya', 'Deepthi', 'Bhavya', 'Spandana')
brothers = ('Pranay', 'Vishnu')
siblings = sisters + brothers
print('Siblings:',siblings)
print('I have',len(siblings),'siblings')
family_members = siblings + ('Chandu', 'Bhagya')
print('Family Members:', family_members)

Siblings: ('Divya', 'Deepthi', 'Bhavya', 'Spandana', 'Pranay', 'Vishnu')
I have 6 siblings
Family Members: ('Divya', 'Deepthi', 'Bhavya', 'Spandana', 'Pranay', 'Vishnu', 'Chandu', 'Bhagya')

Question 4

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print('Length of it_companies:',len(it_companies))
it_companies.add('Twitter')
it_companies.update({'Walmart','TCS','Linkedin'})
it_companies.remove('Oracle')
try:
  it_companies.remove('Oracle')
except Exception as e:
  print('Working of remove for a missing value:',e)
  print('Working of discard for a missing value')
  it_companies.discard('Oracle')
A.update(B)
C = A.intersection(B)
print('A intersection B:',C)
print('Is A subset of B:',A.issubset(B))
print('Are A and B disjoint sets:',A.isdisjoint(B))
print('Joining of A with B:',A.union(B))
print('Joining of B with A:',B.union(A))
print('Symmetric difference between A and B:', A.symmetric_difference(B))
A.clear()
B.clear()
ages = set(ages)
if(len(ages) > len(age)):
  print('Length of set is greater than that of list')
elif(len(ages) < len(age)):
  print('Length of list is greater than that of set')
else:
  print('Length of the list and set are equal')

Length of it_companies: 7
Working of remove for a missing value: 'Oracle'
Working of discard for a missing value
A intersection B: {19, 20, 22, 24, 25, 26, 27, 28}
Is A subset of B: True
Are A and B disjoint sets: False
Joining of A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining of B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: set()
Length of list is greater than that of set

Question 5

In [8]:
radius = 30
_area_of_circle_ = 3.14*radius**2
_circum_of_circle_ = 2*3.14*radius
print('Area and circumference of circle are:',_area_of_circle_,'and',_circum_of_circle_)
rad = float(input('Enter radius of circle:'))
print('Area of circle with radius',rad,'is',round(3.14*rad**2,2))

Area and circumference of circle are: 2826.0 and 188.4
Enter radius of circle:23.6
Area of circle with radius 23.6 is 1748.85

Question 6

In [9]:
sentence = 'I am a teacher and I love to inspire and teach people'
unique_words = set(sentence.split())
print('There are',len(unique_words),'unique words used in the sentence and they are',unique_words)

There are 10 unique words used in the sentence and they are {'teacher', 'am', 'and', 'people', 'I', 'love', 'to', 'teach', 'inspire', 'a'}

Question 7

In [10]:
print('Name\t\tAge\tCountry\t  City')
print('Asabeneh\t250\tFinland\t  Helsinki')

Name		Age	Country	  City
Asabeneh	250	Finland	  Helsinki

Question 8

In [11]:
radius = 10
area = 3.14 * radius ** 2
print('\"The area of a circle with radius',radius,'is',int(area),'meters square.\"')

"The area of a circle with radius 10 is 314 meters square."

Question 9

In [12]:
N = int(input('Enter no. of students:'))
print('Enter weights(lbs.) of',N,'students separated by spaces:')
L1 = list(map(int,input().split()))
L2 = []
for i in L1:
  L2.append(round(i*0.45,2))
print(L2)

Enter no. of students:4
Enter weights(lbs.) of 4 students separated by spaces:
150 155 145 148
[67.5, 69.75, 65.25, 66.6]